#main_connection {
	text-align: center;
	margin: auto;
	width: 300px;
	margin-top: 200px;
}

#main_connection .ids{
    margin-bottom: 10px;
}

#main_connection .ids input{
	width: calc(100% - 40px);
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    background: #EEE;
}

#main_connection .buttons input{
    border-radius: 29px;
    width: 100%;
    padding: 14px;
    background: #4480f9;
    border: none;
    margin: 10px 0px;
    cursor: pointer;
    transition: 0.5s;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 2px;
    outline: none;
}

#main_connection .buttons input:hover{
	transition: 0.5s;
	box-shadow: 0px 4px 10px -5px rgba(0,0,255,0.8);
	transform: translateY(-4px)
}
#main_connection .buttons input:hover{
    outline: none;
}

.links{
	display: flex;
    justify-content: space-between;
}

.links a {
	font-family: sans-serif;
    font-size: 14px;
    color: #4480f9;
    margin-top: 5px;
}

#signin{
	margin-bottom: 25px;
    margin-top: 25px;
	font-size: 18px;
    font-weight: 300;
    font-family: sans-serif;
    color: #333;
    letter-spacing: 1px;
}
